*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid rgb(153, 152, 152); */
}
.mnu{
    display: none;
}

body {
    font-family:  sans-serif;
}
header{
    height: 80px;
    background-color: #525256;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}
/* .logo{
    margin: 10px ; 
    margin: 30px 0px 20px 30px ;
} */
nav{
    display: flex;
    align-items: center;
    /* width: 20em; */
    /* width: fit-content; */
    /* margin: 30px; */
    /* border: 1px solid; */
}

.li-def{
    color: #e65c24;
}

/* nav ul li:hover{
    color: #e65c24;
    cursor: pointer;
} */

nav ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.serv img{
    width: 16px;
    height: 16px;
    color: white; 
    vertical-align: middle;  
}
li{
    padding-inline: 10px;
}
.cart,.login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline:4px ;
}
.login{
    border: 1px solid white;
}
img.imo{
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

section.pub{
    background-color: #FBF9F9;
    height: 500px;
    display: flex;
}
.cl1{
    display: flex;
    padding: 20px;
    background-color: #fbf9f9;
    margin-bottom: 2px;
    box-shadow: 0px 0px 9px black;
    justify-content: space-between ;
    align-items: center;

}
.cls{
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}
.cl1-inf{
    margin-right: 10px;
    height: 100%;
}
.img{
    border-radius: 10px;
    box-shadow: 0px 0px 9px black;
    width: 25vw; 
}
.r-direct, .l-direct{
    width: 20px;
    height: 20px;
    
}
.bt{
    width: 100px;
}
.but{
    border: none;
    border-radius: 8px;
    width: 100px;
    padding: 10px;
    background-color: #e65c24;
    color: white;
    font-weight: bolder;
}
.cl2{
    padding: 20px;
}

.st{
    text-align: center;

}
.div{
    display: flex;
}
.d-pad{
    padding: 10px;
}
h4 {
    color: #1ca78b;
}
.tx{
    color: rgb(129 128 128);
}

.bt-ap {
    border-radius: 5px;
    border: none;
    background-color: #525256;
    padding: 8px;
    color: white;
    font-size: 10px;
}
.btn{
    display: flex;
    justify-content: right;
}
.cl3{
    display: flex;
    padding: 40px;
}
.cl-ima{
    width: 200px;
    height: 200px;
}
.prod {
    padding: 20px;
}

.tit {
    margin-top: 8px;
}

.px {
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ty {
    display: flex;
    justify-content: right;
}
.nam {
    width: 80px;
    font-size: 8px;
    font-weight: bold;
}
.cl4{
    padding: 20px;
}
.cl4 h2{
    text-align: center;
}
.elm{
    background-color: #fbf9f9;
    box-shadow: 0px 2px 5px;
    
}
.celm{
    display: flex;
    margin: 5%;
    padding-top: 20px ;
}
.cust{
    width: 200px; 
    height: 200px;
    margin-right: 30px;
    box-shadow: 0px 0px 2px;
    border-radius: 10px;
}
.c-txt legend{
    font-weight: bolder;
    font-size: 8px;
}
.c-txt{
    font-size: small;
}
.dep{
    display: flex;
    justify-content: space-between;
    width: 70px;
    position: relative;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}
.dep hr{
    width: 10px;
    height: 10px;
    border-radius: 35px;
    background-color: #cacaca;
    box-shadow: 0px 0px 2px;    
}
hr.hr3{
    background-color: #525256;
}
.cl5{
    margin-bottom: 5%;
}
.cl5 h2{
    text-align: center;
}
.cl5-a{
    width: 100%;
    
}
.create{
    width: 300px;
    height: 30px;
    margin-top: 10px;
    background-color: #e65c24;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}
.ch-t{
    text-align: center;
    font-size: smaller;
    margin-top: 10px;
}
footer{
    background-color: #525256;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: small;
    padding-block: 10px;
    
}
.exit{
    display: none;
}

footer ul{

    list-style-type: none;
}
@media screen and (max-width: 414px) 
{  
    .mnu{
        display: initial;
        
    }
    .mnu a{
        display: initial;
        padding: 4px 10px;
        text-decoration: none;
        color: white;
        background-color: #e65b24f4;
        font-weight: bolder;
        border-radius: 5px;
    }
    nav.nav-lst{
        display: none;
    }
    .nav-lst:target{
        display: flex;
        position: absolute;
        background-color: #1ca78b;
        left:0;
        top: 0;
        width: 60vw;
        height: 100vh;
        padding-inline: 10px 15px;
    }
    .lst{
        display: flex;
        font-size: x-large;
        flex-direction: column; 
        margin-top: -50vh;
    }
   
    .exit{
        display: initial;
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 5px 8px;
        background-color: #e65c24;
        border-radius: 20px;
    }
    .exit a{
        text-decoration: none;
        font-weight: bolder;
        color: white;
    }
    ul li img{
        display: none;
    }
    li.login{
        border: transparent;
    }
    .nav-lst li{
        width: 200px;
        background-color: #187f6b;
        margin-top:1em;
        border-radius: 4px;
    }
    .lst li:hover{
        background-color: #e65b24f1;
    }
    .cls{
        display: block;
    }
    .bt{
        width: 100%;
        margin-bottom: 10px;
    }
    .but{
        width: 100%;
    }
    .img{
        margin-left: 16px;
        /* width: 70px; */
        width:55vw;
    }
    .div{
        display: block;
    }
    .cl3{
        display: block;
    }
    .prod p{
        font-size: medium;
        padding: 0px;
    }
    .nam{
        width: 40vw;
    }
    .celm{
        display: block;
    }
    .celm p{
        width: fit-content;
    }
    
    .cust{
        width: 100%;
        height: auto;
    }
    .cl-ima{
        width: 100%;
        height: 400px;
    }
    footer{
        padding: 10px;
    }
       
}